<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Live Bot</title>
</head>
<body style="background-color: #2C2F33; height: 100%; margin: 0">
<div style="display: flex; align-items: center; justify-content: space-between; width: 100%; background-color: #7289DA; height: 10%">
    <div style="text-align: center; color: #FFFFFF; font-weight: bold; font-size: 5vh; margin: 10px; font-family: Arial, serif;">
        Live Bot
    </div>
    <a style="justify-self: flex-end; text-align: center; color: #FFFFFF; font-weight: bold; font-size: 5vh; margin: 10px; font-family: Arial, serif;" href="https://discordapp.com/oauth2/authorize?client_id=471157611874484225&scope=bot&permissions=268435456">
        add me to your server
    </a>
</div>
<div style="display: flex; align-items: center; justify-content: center;align-content: center; flex-wrap: wrap; height: 85%">
    <div>
        <img src="https://cdn.glitch.com/e0d0cb4e-cf45-42a9-a7d0-ca08757819fa%2FDiscordLogoWhite.png?1533909271701" height="200vh">
    </div>
    <div style="text-align: center; color: #FFFFFF; font-weight: bold; font-size: 20vh;padding: 20px">
        +
    </div>
    <div>
        <img src="https://cdn.glitch.com/e0d0cb4e-cf45-42a9-a7d0-ca08757819fa%2FTwitchWhite.png?1533909271592" height="200vh">
    </div>
    <div style="text-align: center; color: #FFFFFF; font-weight: bold; font-size: 10vh; font-family: Arial, serif; width: 100%">
        Display live players on your server
    </div>

</div>
<div style="display: flex; align-items: center; width: 100%; background-color: #23272A; height: 5%">
    <div style="text-align: center; color: #FFFFFF; font-size: 2vh; margin: 10px; font-family: Arial, serif;">
        © 2018 cccm5, not affiliated with Discord or Twitch
    </div>
</div>
</body>
</html>