<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <link rel="stylesheet" type="text/css" href="../public/style.css"/>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <title>Live Bot</title>
</head>
<body style="background-color: #2C2F33; height: 100%; margin: 0">
<div class="header">
    <div class="header-text">
        Live Bot
    </div>
    <a href="https://discordapp.com/oauth2/authorize?client_id=471157611874484225&scope=bot&permissions=268435456"
       class="invite">
        add me to your server
    </a>
</div>
<div class="contents">
    <div class="content-image">
        <img src="https://cdn.glitch.com/e0d0cb4e-cf45-42a9-a7d0-ca08757819fa%2FDiscordLogoWhite.png?1533909271701" height="100%">
    </div>
    <div class="contents-text">
        +
    </div>
    <div class="content-image">
        <img src="https://cdn.glitch.com/e0d0cb4e-cf45-42a9-a7d0-ca08757819fa%2FTwitchWhite.png?1533909271592" height="100%">
    </div>
    <div class="about">
        Display live players on your server
    </div>

</div>
<div class="footer">
    <div class="footer-text">
        © 2018 cccm5, not affiliated with Discord or Twitch
    </div>
    <a class="github-link" href="https://github.com/cccm5/live-bot">
        Check out the source on github
    </a>
</div>
</body>
</html>